
.header{
    display: flex;
    margin: 25px ; 
    margin-left: 90px;
    justify-content: center;
}
.title{
       text-align: center;
       border : 1px solid red;
       background-color: yellow;
       border-radius: 10%;
}
.image {
    width: 48px;
    height:48px;
    margin-left: 25px;
}

.calendar{
    margin-left: 45px;
    padding: 5px 0;

}